/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.boton {
  border-radius: 5px;
  padding: 10px;
  font-size: 80%;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #87929b;
  outline: 0;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #afbdc9;
  color: white;
  cursor: pointer; }

.boton:hover {
  background-color: #87929b; }

.boton:active {
  box-shadow: inset 0px 3px 10px 0px #4c5760; }

.boton--primary {
  background-color: #337AB7;
  border-color: #1d4567; }
  .boton--primary:hover {
    background-color: #1d4567; }
  .boton--primary:active {
    box-shadow: inset 0px 3px 10px 0px black; }

.boton--error {
  background-color: #eae364;
  border-color: #ccc31c; }
  .boton--error:hover {
    background-color: #ccc31c; }
  .boton--error:active {
    box-shadow: inset 0px 3px 10px 0px #191803; }

.boton--info {
  background-color: #3c7965;
  border-color: #1a352c; }
  .boton--info:hover {
    background-color: #1a352c; }
  .boton--info:active {
    box-shadow: inset 0px 3px 10px 0px black; }

.boton--warning {
  background-color: #E08E86;
  border-color: #cb4235; }
  .boton--warning:hover {
    background-color: #cb4235; }
  .boton--warning:active {
    box-shadow: inset 0px 3px 10px 0px #290d0b; }

.boton--xl {
  font-size: 20px;
  padding: 10px; }

.boton--l {
  font-size: 20px;
  padding: 8px; }

.boton--s {
  font-size: 10px;
  padding: 5px; }

.boton--xs {
  font-size: 5px;
  padding: 4px; }

.mensaje {
  font-size: 80%;
  font-family: "Lucida Grande",Arial,Verdana,sans-serif;
  background-color: #afbdc9;
  padding: 15px;
  border-radius: 5px;
  color: #606a72; }

.mensaje--primary {
  background-color: #77acd9;
  color: #337AB7; }

.mensaje--error {
  background-color: #f6f3be;
  color: #eae364; }

.mensaje--info {
  background-color: #67b49b;
  color: #3c7965; }

.mensaje--warning {
  background-color: #f5dad7;
  color: #E08E86; }

/*.mensaje--primary{
    background-color: #8dbbe0;
    color:#f2eeed;
}
.mensaje--error{
    background-color: #efe4ac;
    color:#8A6D5F;
}
.mensaje--info{
    background-color: #D9EDF7;
    color:#3C763D;
}
.mensaje--warning{
    background-color: #F2DEDE;
    color:#A94D6D;
}*/
.menu__item {
  font-family: "Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
  float: left;
  list-style: none;
  padding: 10px;
  text-decoration: none;
  border-top: 1px solid #605151;
  border-left: 1px solid #605151;
  border-bottom: 1px solid #605151;
  word-wrap: break-word; }

.menu__item:hover {
  background-color: #cedfed;
  border-left: 1px solid #ad2e2e;
  border-top: 1px solid #ad2e2e;
  border-bottom: 1px solid #ad2e2e; }

.menu__item:hover + li {
  border-left: 1px solid #ad2e2e; }

.menu__link {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px; }

.menu__item:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #605151; }

.menu__item:last-child:hover {
  border-right: 1px solid   #ad2e2e; }

.menu__item:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.menu__item--selected {
  background-color: #899299; }

.menu__item--selected:hover {
  background-color: #5f6870; }

.panel {
  font-size: 80%;
  font-family: "Lucida Grande",Arial,Verdana,sans-serif;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #455767; }

.panel__cabecera {
  background-color: #afbdc9;
  border: 2px solid #5983a5;
  padding: 10px 15px;
  color: #5983a5;
  border-radius: 5px 5px 0px 0px; }

.panel__contenido {
  padding: 15px 15px;
  border-radius: 0px 0px 5px 5px;
  border-bottom: 2px solid #5983a5;
  border-left: 2px solid #5983a5;
  border-right: 2px solid #5983a5;
  background-color: white; }

.panel--primary {
  box-shadow: 3px 3px 10px #071017; }

.panel__cabecera--primary {
  background-color: #337AB7;
  border: 2px solid #1d4567;
  color: #1d4567; }

.panel__contenido--primary {
  border-bottom: 2px solid #1d4567;
  border-left: 2px solid #1d4567;
  border-right: 2px solid #1d4567; }

.panel--error {
  box-shadow: 3px 3px 10px #726d10; }

.panel__cabecera--error {
  background-color: #eae364;
  border: 2px solid #ccc31c;
  color: #ccc31c; }

.panel__contenido--error {
  border-bottom: 2px solid #ccc31c;
  border-left: 2px solid #ccc31c;
  border-right: 2px solid #ccc31c; }

.panel--info {
  box-shadow: 3px 3px 10px black; }

.panel__cabecera--info {
  background-color: #3c7965;
  border: 2px solid #1a352c;
  color: #1a352c; }

.panel__contenido--info {
  border-bottom: 2px solid #1a352c;
  border-left: 2px solid #1a352c;
  border-right: 2px solid #1a352c; }

.panel--warning {
  box-shadow: 3px 3px 10px #7b281f; }

.panel__cabecera--warning {
  background-color: #E08E86;
  border: 2px solid #cb4235;
  color: #cb4235; }

.panel__contenido--warning {
  border-bottom: 2px solid #cb4235;
  border-left: 2px solid #cb4235;
  border-right: 2px solid #cb4235; }

.vertical-menu {
  font-family: "Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif; }

.vertical-menu__item-container-0 {
  list-style: none;
  font-size: 110%;
  padding-bottom: 15px; }

.vertical-menu__item-0 {
  padding-top: 20px; }

.vertical-menu__item-0--close {
  background-color: #4D5158;
  width: 700px;
  border: 0.1px solid #41444A;
  color: white; }

.vertical-menu__item-0--open {
  background-color: #4D5158;
  width: 700px;
  border: 0.1px solid #41444A;
  color: white; }

.vertical-menu__item-0--close:before {
  content: '\f07b';
  font-family: FontAwesome;
  padding: 10px; }

.vertical-menu__item-0--open:before {
  content: "\f07c";
  font-family: FontAwesome;
  padding: 10px; }

.vertical-menu__item-container-1 {
  list-style: none;
  background-color: #34373C;
  padding: 0px; }

.vertical-menu__item-1 {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0.1px solid #41444A;
  padding-left: 30px; }

.vertical-menu__item-1--close:before {
  content: '\f07b';
  font-family: FontAwesome; }

.vertical-menu__item-1--doc:before {
  content: '\f15b';
  font-family: FontAwesome; }

.vertical-menu-container--icono_open:after {
  float: right;
  content: "\f0d8";
  font-family: FontAwesome;
  padding-right: 10px; }

.vertical-menu-container--icono_close:after {
  float: right;
  content: "\f0d7";
  font-family: FontAwesome;
  padding-right: 10px; }

.vertical-menu-item--icono_open:after {
  float: right;
  content: "\f0d7";
  font-family: FontAwesome;
  padding-right: 10px; }

.vertical-menu-item--icono_close:after {
  float: right;
  content: "\f0d7";
  font-family: FontAwesome;
  padding-right: 10px; }

.vertical-menu__link-0 {
  padding-bottom: 20px;
  display: inline-block;
  text-decoration: none;
  color: white; }

.visible {
  display: hidden; }

.invisible {
  display: none; }
