.boton{
   
    border-radius: 5px;
    padding:10px;
    font-size: 80%;
    display:inline-block;
    text-decoration: none;
    border:1px solid #87929b;
    outline: 0;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #afbdc9;
    color:white;
    cursor:pointer;
}
.boton:hover{   
    background-color: #87929b;  
}
.boton:active{
    box-shadow: inset 0px 3px 10px 0px #4c5760;
}

@each $format, $color in $format-variations{
    .boton--#{$format}{
        background-color: $color;
        border-color:darken($color,20% );
        &:hover{
            background-color:darken($color,20%);
        }
        &:active{
            box-shadow: inset 0px 3px 10px 0px darken($color,60%);
        }
    }
    
}



.boton--xl{
    font-size: 20px;
    padding:10px;
}
.boton--l{
    font-size: 20px;
    padding:8px;
}
.boton--s{
    font-size: 10px;
    padding:5px;
}
.boton--xs{
    font-size: 5px;
    padding:4px;
}