.mensaje{ 
    font-size: 80%;  
    font-family: "Lucida Grande",Arial,Verdana,sans-serif;
    background-color: #afbdc9;
    padding: 15px;
    border-radius: 5px;
    color:#606a72;
}

@each $functionality, $color in $functional-variations{
    .mensaje--#{$functionality}{
        background-color: lighten($color,20%);
        color:$color;
    }
}

