.panel{
    font-size: 80%;  
    font-family: "Lucida Grande",Arial,Verdana,sans-serif;
    box-sizing: border-box;
    border-radius: 5px ;
    box-shadow: 3px 3px 10px darken(#afbdc9,40%);

}
.panel__cabecera{
    background-color: #afbdc9;
    border: 2px solid #5983a5; 
    padding:10px 15px;
    color: #5983a5;
    border-radius: 5px 5px 0px 0px;    
}
.panel__contenido{
    padding: 15px 15px;    
    border-radius:0px 0px 5px 5px;
    border-bottom:2px solid #5983a5; 
    border-left:2px solid #5983a5; 
    border-right:2px solid #5983a5; 
    background-color: white;
}
@each $functionality, $color in $functional-variations{
    .panel--#{$functionality}{
       box-shadow: 3px 3px 10px darken($color,40%); 
    }
    .panel__cabecera--#{$functionality}{
        background-color: $color;
        border:2px solid darken($color,20%);
        color:darken($color,20%);
    }
    .panel__contenido--#{$functionality}{
        border-bottom:2px solid darken($color,20%); 
        border-left:2px solid darken($color,20%); 
        border-right:2px solid darken($color,20%);
    }
}







