.vertical-menu{
    font-family: "Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
}
.vertical-menu__item-container-0{
    list-style: none;
    font-size: 110%;
    padding-bottom: 15px;
}
.vertical-menu__item-0{
    padding-top: 20px;


}
.vertical-menu__item-1--close{


} 
.vertical-menu__item-0--close{
    background-color: #4D5158;     
    width:700px;      
    border:0.1px solid #41444A;
    color:white;

} 
.vertical-menu__item-0--open{
    background-color: #4D5158;     
    width:700px;      
    border:0.1px solid #41444A;
    color:white;

} 
.vertical-menu__item-0--close:before{
    content:'\f07b';
    font-family: FontAwesome; 
    padding:10px;
}

.vertical-menu__item-0--open:before{
    content: "\f07c";
    font-family: FontAwesome;
    padding:10px;
}

.vertical-menu__item-container-1{
    list-style: none;
    background-color: #34373C;
    padding: 0px;

}
.vertical-menu__item-1{
    padding-top: 20px;
    padding-bottom: 20px;
    border:0.1px solid #41444A;
    padding-left: 30px;
}
.vertical-menu__item-1--close{

}
.vertical-menu__item-1--doc{


}
.vertical-menu__item-1--close:before{
    content:'\f07b';
    font-family: FontAwesome;  

}
.vertical-menu__item-1--doc:before{
    content:'\f15b';
    font-family: FontAwesome;  

}
.vertical-menu-container--icono_open:after{
    float:right;   
    content:"\f0d8";
    font-family: FontAwesome; 
    padding-right: 10px;
}    
.vertical-menu-container--icono_close:after{
    float:right;   
    content:"\f0d7";
    font-family: FontAwesome; 
    padding-right: 10px;
}    
.vertical-menu-item--icono_open:after{
    float:right;   
    content:"\f0d7";
    font-family: FontAwesome; 
    padding-right: 10px;
}    
.vertical-menu-item--icono_close:after{
    float:right;   
    content:"\f0d7";
    font-family: FontAwesome; 
    padding-right: 10px;
}    
.vertical-menu__link-0{
    padding-bottom: 20px;
    display:inline-block;
    text-decoration: none;
    color:white;
   
}
.visible{
    display:hidden;
}

.invisible{
    display:none;
}